
.style-button{
  display: flex;
  color: #692c15;
  font-size: 28px;
  position: fixed;
  top: 85px;
  left: -50px;
  transition: 0.3s ease;
}


.title-cardapio{
  color: #FFBF00;
  font-size: 24px;
  font-weight: 500;
}
.subtitle-cardapio{
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 500;
}

.active-cardapio{
  background-color: #FFBF00;
}

.maincontent-torta{
  width: 23.9rem;
  padding: 13px;
  padding-top: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: var(--color-card);
  /* margin-bottom: 50px; */
}

.content-name-torta{
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 12px;
}

.title-name-torta{
    font-size: 19px;
    font-weight: 500;
    color: var(--cor-titulo-torta);
}

.model{
  color: #692c15;
  font-size: 12px;
}
.genero{
  color: var(--cor-titulo-torta);
  font-size: 10px;
}

.content-image-val{
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.img-torta{
    width: 195px;
    /* width: min(580px, 12vw); */
    height: auto; 
} 

.kilomoney.torta-n3{
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.peso-torta{
padding-top: 19px;
padding-bottom: 10px;

}


.kilo-torta{
  color: var(--cor-titulo-torta);
  font-size: 18px;
  font-weight: 770;
}

.pessoas-torta{
  color: var(--cor-titulo-torta);
  font-size: 15px;
  font-weight: 500;
}

.val-liquida-torta{

  color: #808080;
  font-size: 13px;
  font-weight: 500;
  text-decoration:line-through
  
}

.val-money-torta{
  color: #404040;
  font-size: 20px;
  font-weight: 500;
}


.description-torta{
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 0.9rem;
  font-weight: 150px;
  color: var(--Marrom);
}

.description-text{
  text-align: center;
}


.button-torta{
  padding: 18px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#btn_pedido:hover{
  background-color: #692c15;
  /* box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.1); */
}

.btn-ver-mais{ 
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  color: #404040;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #ffffff;
  padding: 11px 13px;
  width: 128px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 16px;
}



.card-carrossel{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}



.click-item{
  display: flex;
  font-size: 0.9rem;
  color: #1A1A1A;

  background-color: #ffffff;
  padding: 11px 13px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 16px;
  transition: .5s ease;

}


.ico-active-trad{
  background-color: #FFBF00;
}


/* =============================== */

.active-white{
  background-color: #ffffff;
}

.active-yellow{
  background-color: #FFBF00;
}

/* ================================ */


.card-nav i{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  width: 20px;
  height: auto;
}


.plus-icon{
  font-size: 1.5rem;
  
  color: #404040;
}

.dasativa-container{
  display: none;
}



/* ===================== uptodate 1.0.0.0 */

.adjust{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.card-nav{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-bottom: 20px;  
  position: relative;
  margin: 0;
}

.scroll-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin: 0;
}

/* ===================== uptodate 1.0.0.0 */

.content-absolute{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff9ea;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 500px;
  top: 90%;
  transition: 1.5s ease;
}


#inf i{
  font-size: 19px;
}
#trad i{
  font-size: 17px;
}


/* ===================== uptodate 1.0.0.1 */

.content-cardapio{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
}

.btn-pedido{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 18px;
  padding: 14px 20px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  font-size: 1rem;
  font-weight: 600;
  color:#fff;
  width: 255px;
  transition: .5s ease; 
}

.c-size{
  font-size: 18px;
}


/* ========= Atualização do CSS 07/10/2024   ======================================== */







/* ======== CSS do Carrinho  ================================ */
.car{
  position: fixed;
  z-index: 0;
  left: 86%;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  /* background-color: var(--color-black); */
  background-color: #310803;
  padding: 8px 8px;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.icon-container{
  position: relative;
}
.icon-number{
  position: absolute;
  top: -34px;
  left: 28px;
  background-color: red;
  padding: 0.8px 8px;
  border-radius: 18px;
}
.icon-number span{
  font-size: 15px;
  color: var(--color-white);
}
.car i{
  font-size: 35px;
  color: #ffffff;
}
/* ======================================================== */


.btn-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    border-radius: 18px;
    padding: 14px 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    font-size: 1rem;
    font-weight: 600;
    color:#fff;
    width: 170px;
}

.btn-comprar:hover{
  background-color: transparent;
  color: #404040;
  background-color: #ffffff;
  font-weight: 400;
}

.btn-torta-comprar{
  padding: 8px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn-back{
  width: 90%;
  display: none;
  justify-content: flex-start!important;
}

.btn-style-back{
  display: flex;
  color: #692c15;
  font-size: 28px;
  transition: 0.3s ease;
}

.cardapio-presentation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.control-btn-back{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.back-style{
  display: none;
  color: #692c15;
  font-size: 28px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s ease;
}



/* ======================================== */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
}
.card img{
  max-width: 100%;
  border-radius: 8px;
}
.card h3 {
  margin-top: 8px;
}





/* CSS DO BOTÃO ADICIONAR UNIDADES NO CARRINHO */

.plus-icon{
  font-size: 1.5rem;
  color: #404040;
}
.dasativa-container{
  display: none;
}
.control-button-money{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 15px;
}

.button-click i{
font-size: 18px;
}

.btn-minus{
  height: 40px;
  color: var(--cor-titulo-torta);
  padding: 10px 12px;
  border: 2px solid var(--cor-titulo-torta);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}
.add-numeros-itens{
  height: 40px;
  color: var(--cor-titulo-torta);
  padding: 5.3px 17px;
  border-top: 2px solid var(--cor-titulo-torta);
  border-bottom: 2px solid var(--cor-titulo-torta);
  font-size: 20px;
  background-color: #fff;
  font-weight: 500;
}
.btn-plus{
  height: 40px;
  color: var(--cor-titulo-torta);
  padding: 10px 12px;
  border: 2px solid var(--cor-titulo-torta);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}
.btn-minus:hover, .btn-plus:hover{
  color: var(--color-white);
  background-color:#b28b7a;
}
.text-total{
  color: var(--cor-titulo-torta);
  font-size: 12px;
  font-weight: 500;
}
.t-mon-toral span{
  color: var(--color-primary);
  font-size: 22px;
  font-weight: 600;
}
.card-calc{
  margin-top: 30px;
  height: 40px;
  /* margin-bottom: 50px; */
}

/* ============================= */
.button-click{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  position: absolute;
  left: -145px;
}
.container-n{
  display: flex;
  gap: 6px;
  margin-right: 0px;
  position: absolute;
  left: -2px;
}
.container-total{
  margin-bottom: 15px;
  position: absolute;
  width: 120px;
  left: 65px;
  top: -20px;
  }

  .control-ver-mais{
    display: flex;
    justify-content: end;
    margin-right: 4px;
    cursor: pointer;

    
  }
/* ============================= */

.text-x{
  font-size: 19px;
  color: var(--cor-titulo-torta);
}
.text-variable{
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
}
.text-money{
position: absolute;
top: 50px;
left: -60px;
}
.text-money span{
  color: var(--color-text);
  font-size: 19px;
  font-weight: 400;
}
.form-container {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 23.9rem;
  padding: 8px 35px 30px 35px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: var(--color-card);
}

.remove-position{
  position: relative;
  width: 100%;
}





/* Classe para a animação de saída de baixo para cima */

