

@media (max-width: 1495px) {
  .header{
    padding: 6px 150px 12px 150px;
  }
  #content{
    padding: 6px 150px 12px 150px;
  }
}

/* ======================================= */
@media (max-width: 1485px) {

  #presentation .card-nav {
    left: 170px;
    } 

  #presentation .scroll-horizontal {
    width: 80%;
    overflow: hidden;
    margin-left: 0px;
  }

}

/* ======================================= */
@media (max-width: 1405px) {
  .header{
    padding: 6px 120px 12px 120px;
  }
  #content{
    padding: 6px 120px 12px 120px;
  }
}
/* ======================================= */
@media (max-width: 1335px) {
  .header{
    padding: 6px 100px 12px 100px;
  }
  #content{
    padding: 6px 100px 12px 100px;
  }
}
/* ======================================= */
@media (max-width: 1265px) {
  .header{
    padding: 6px 50px 12px 50px;
  }
  #content{
    padding: 6px 50px 12px 50px;
  }
}
/* ======================================= */
@media (max-width: 1165px) {
  .header{
    padding: 6px 25px 12px 25px;
  }
  #content{
    padding: 6px 25px 12px 25px;
  }
  #cta .title{
    font-size: 3.1rem;
    line-height:2.8rem;
  }
  #cta .description{
    font-size: 0.9rem;
  }
}

/* ======================================= */
@media (max-width: 1080px) {

  #presentation .card-nav {
    left: 180px;
    } 
  #presentation .scroll-horizontal {
    width: 90%;
    overflow: hidden;
    margin-left: 0px;
  }
}

/* ======================================= */
@media (max-width: 1055px) {
  .header{
    padding: 6px 12px 12px 12px;
  }
  #content{
    padding: 6px 12px 12px 12px;
    margin-top: 2%;
  }

  #cta .title{
    font-size: 2.8rem;
    line-height:2.8rem;
  }
  #cta .description{
    font-size: 0.9rem;
  }
  #banner-image img{
    width: min(550px, 50vw);
    height: auto;  
  }
  .navbar .menu-itens{
  gap: 20px;
  }
  .navbar li{
  font-size: 16px;
  }
  .menu-itens .nav-item{
  background-color: transparent;
  } 
  .menu-itens .nav-item i{
  display: none;
  } 
  .navbar li:hover{
  background-color: transparent;
  color: #692c15;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  /* border-bottom: 3px solid #ffe100; */
  }
  .navbar .active{
  background-color: transparent;
  color: #692c15;
  box-shadow: 0 0.1rem 0.5rem #ccc;
  /* border-bottom: 3px solid #ffe100; */
  }
  .navbar .active:hover{
  background-color: transparent;
  color: #692c15;
  box-shadow: none;
 }
}
  /* ======================================== */
  @media (max-width: 992px) {
    #cta .title{
      font-size: 2.8rem;
    }
    #cta .description{
      font-size: 0.9rem;
    }
    #banner-image img{
      width: min(550px, 50vw);
      height: auto;  
    }
  }


/* ======================================= */
@media (max-width: 916px) {

  #presentation .card-nav {
    left: 187px;
    } 
  #presentation .scroll-horizontal {
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
  }
}
/* ======================================= */

  @media (max-width: 866px) {
    #banner-image{
      display: none;
    }
    #presentation{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #banner_image_responsive{
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0px;
    }
    #banner_image_responsive img{
      /* width: 550px; */
      width: min(450px, 60vw);
      height: auto; 
    }
    #cta .title{
      font-size: 3.1rem;
      line-height:3.2rem;
      text-align: center;
    }
    #cta .description{
      font-size: 0.9rem;
      text-align: center;
      margin-right: 0px;
    }
    #control_btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .social-media-buttons{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

/* ======================================= */
  @media (max-width: 809px) {
    .content-menu{
      display: flex;
    }
    .navbar{
      display: none;
    }

    #presentation .card-nav {
      left: 360px;
      } 
    #presentation .scroll-horizontal {
      width: 75%;
      overflow: hidden;
      margin-left: 0px;
    }
  }
/* ======================================= */

  @media (max-width: 755px) {

    #content {
      margin-top: 4%;
    }
  }


  @media (max-width: 616px) {
    #content {
      margin-top: 6%;
    }
  }

  /* ======================================= */
  @media (max-width: 613px) {
    #presentation .card-nav {
      left: 380px;
      } 
    #presentation .scroll-horizontal {
      width: 87%;
      overflow: hidden;
      margin-left: 0px;
    }
  }

/* ======================================= */
@media (max-width: 560px) {
  #cta .title{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  #content {
    margin-top: 8%;
  }
}
/* ======================================= */
@media (max-width: 492px) { /* 515 414 428 412 393 390 375 360 320 */
  #cta{
    width: 95%;
  }
  #content {
    margin-top: 8%;
  }
} 
/* ======================================= */
@media (max-width: 482px) { /* 515 414 428 412 393 390 375 360 320 */
  #cta .description{
    margin: 0px 20px 0px 20px;
  }
  #content {
    margin-top: 8%;
  }
} 
/* ======================================= */
  @media (max-width: 480px) {
    #presentation .card-nav {
      left: 390px;
      } 
    #presentation .scroll-horizontal {
      width: 108%;
      overflow: auto;
      margin-left: 0px;
    }
  }


@media (max-width: 463px) { /* 515 414 428 412 393 390 375 360 320 */
  #cta .title{
    font-size: 2.3rem; 
  }
  #content {
    margin-top: 12%;
  }
} 
/* ======================================= */


@media (max-width: 430px) { 
  #cta .title{
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}


/* ===================================== */
@media (max-width: 418px) { 


  #presentation .show-button-plus {
    left: 17.5%;
  }

   #presentation .show-button{
    position: fixed;
    z-index: 999;
    left: 20px;
   }
  #cta .title{
    font-size: 2.5rem;
  }
  #cta .description{
    margin: 0px 0px 0px 0px;
  }
     #banner_image_responsive img{
      /* width: 550px; */
      width: min(450px, 65vw);
      height: auto; 
    }
    #cta_buttons{
      gap: 16px;
    }
    #cta_buttons #btn_cardapio{
      width: 172px;
      font-size: 1rem;
      font-weight: 600;
    }
    #cta_buttons #phone_button{  
      font-size: 0.83rem;
      gap: 8px;
      padding: 8px 10px;
    }
}
/* ===================================== */

@media (max-width: 415px) {
  #presentation .card-nav {
    left: 395px;
    } 
  #presentation .scroll-horizontal {
    width: 180%;
    overflow: auto;
    margin-left: 0px;
  }
}

/* ===================================== */






 



