


.main-alert-exclamation {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 45px;
  background-color: #7a0c15;
  border: 1px solid #E03131;
  border-radius: 5px;
  padding: 10px 12px;
  width: 270px;
  margin: 12px 0px 12px 0px;
  cursor: pointer;
}



.show-button-plus {
  position: fixed;
  top: 85px;
  left: 41.1%; 
  display: flex;  /* Exibe como flex */
  /* width: 270px;   Altera a largura */
  animation: descer 1s ease forwards, subir 1s ease forwards;
  animation-delay: 0s, 1s; /*Primeiro animação de descida, depois subida após 5s */
  
}


@keyframes descer {
  0% {
    top: -85px;
    opacity: 0;
  }
  100% {
    top: 85px;
    opacity: 1;
  }
}

@keyframes subir {
  0% {
    top: 85px;
    opacity: 1;
  }
  100% {
    top: -85px;
    opacity: 0;
  }
}




.close-icon{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: 250px;
  padding-top: 2px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #E03131;
  width: 0px;
  height: 28px;
  border-radius: 15px;
}

/* .show-close-icon {
  display: flex;
  width: 28px;
} */


#main_alert_exclamation ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}
/* ======================================= */

#main_alert_exclamation2 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation2 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation2 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation3 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation3 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation3 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation4 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation4 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation4 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation5 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation5 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation5 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation6 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation6 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation6 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation7 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation7 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation7 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}

/* ======================================= */

#main_alert_exclamation8 ul{
  display: flex;
  justify-content: center;
  gap:6px;
}
#main_alert_exclamation8 ul li i{
  color: #f3a0a7;
  font-size: 1.2rem;
  padding-left: 4px;
}
#main_alert_exclamation8 ul li p{
  font-size: 0.8rem;
  color: #f3a0a7;
}