.header{
  position:fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 6px 150px 12px 150px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.0rem 0.12rem #ccc;
  /* box-shadow: 0 0.1rem 0.5rem #ccc; */
  background-color: #fff9ea;
}

.headerTop{
  box-shadow: 0 0.1rem 0.5rem #ccc;
}

#content{
  padding: 0px 150px 12px 150px; 
  width: 100%;
  height: 100vh;
  position: relative;
}

.ico-menu{
  display: flex;
}
.logo{
  cursor: pointer;
  width: auto;
  height: 45px;
  transform: 0.4s ease;
}

.remove-logo{
  display: none;
}

.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navbar .menu-itens{
  display: flex;
  gap: 25px;
}
.navbar li{
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 35px;
  font-size: 1rem;
  color: #692c15;
  border-radius: 8px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: 0.5s ease;
}
.navbar li:hover{
  background-color: #FFBF00
  /* box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1); */
}
.navbar .active{
  background-color: #692c15;
  color: #fff;
}
.navbar .active:hover{
  background-color: transparent;
  color: #692c15;
  box-shadow: 0 0.1rem 0.12rem #ccc;
}


.active-inicio{
  background-color: #FFBF00;
}


/* ===================================== */
  .ico-menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }


  .lin{ 
    width: 28px;
    height: 4px;
    margin: 2px;
    background: var(--Marrom);
    border-radius: 2px;
    transition: 0.2s;
  }


    .active_x .lin:nth-child(1){
      transform: translateY(12px) rotate(-45deg);
      width: 24px;
      background: #fff9ea;
     }
    .active_x .lin:nth-child(2){
      background: #fff9ea;
      width: 0px;
     }
    .active_x .lin:nth-child(3){
      transform: translateY(-4px) rotate(45deg);
      width: 24px;
      background: #fff9ea;
      margin-bottom: 12px;
     }

    

.content-menu{
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: fixed;
  z-index: 3;
  top: 15px;
  right: 18px;
  width: 30px;
  height: 30px;
}



