#presentation{ 
  margin-top: 2%;
  position: relative;
  display: flex;
  margin-bottom: 50px;
  /* padding: 70px 25px 12px 25px; */
}

#banner-image{
  object-fit: cover;
  display: flex;
  align-items: start;
  justify-content: end;
  margin-left: 10px;
  /* width: 80%;
  z-index: 2; */
}

#banner_image_responsive{
  object-fit: cover;
  display: none;
  align-items: center;
  justify-content: end;
  margin-left: 10px;
}

#banner_image_responsive img{
  /* width: 550px; */
  width: min(580px, 60vw);
  height: auto; 
}

#banner-image img{
  /* width: 550px; */
  width: min(580px, 60vw);
  height: auto;  
} 

.btn-default{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBF00;
  /* var(--Amarelo); */
  border: none;
  border-radius: 16px;
  padding: 10px 15px;
  /* box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


#cta{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* margin-top:15px; */
}


#cta .title span{
  color: #FFBF00
}


#cta_buttons{
  display: flex;
  gap: 20px;
}

/* ======================================================== */
#cta .title{
  /* font-size: min(4rem, 4.9vw);
  line-height: min(4.1rem, 4.5vw); */
  font-size: 3.5rem;
  font-weight: 800px;
  line-height: 4.1rem;
  color: #570f05;
  text-align: left;
}


#cta .description{
  /* font-size: min(1.2rem, 1.5vw); */
  font-size: 0.9rem;
  font-weight: 150px;
  color: var(--Marrom);
  margin-right: 25px;
}
/* ======================================================== */

/* #cta_buttons a{     Botão ver cardápio
font-size: 0.9rem; 
font-weight: 600; 
color: #fff; 
*/


#btn_cardapio{
  width: 178px;
  font-size: 0.9rem;
  font-weight: 600;
  color:#fff;
  transition: .5s ease;
}


#btn_cardapio:hover{
  background-color: #6e1c11;
  color: #fff; */
  /* box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1); */
}


#phone_button{      /* Botão telefone */
  font-size: 0.9rem;
  color: #570f05;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 10px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border-radius: 16px;
  transition: .5s ease;
}

#phone_button:hover{
  /* box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1); */
  background-color: #FFBF00;
  
}

.btn-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBF00;
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  /* box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#phone-ico-btn-bold{
  width:36px;
  height:auto;
  font-weight: 600;
}

#phone-ico-btn-bold i{
  color:#570f05;
}

/* ======================================================== */

.social-media-buttons{
  display: flex;
  gap: 18px;
}
 
.social-media-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  color: #570f05;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  transition: .5s ease;
}

.social-media-buttons a i{
  font-size: 1.3rem;
}

.social-media-buttons a:hover{
  background-color: #FFBF00
  /* box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); */
}

/* ======================================================== */


.cardapio-presentation{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  
  
}

.title-cardapio{
  color: #FFBF00;
  font-size: 25px;
  font-weight: 500;
}
.subtitle-cardapio{
  color: #1A1A1A;
  font-size: 26px;
  font-weight: 500;
}

.active-cardapio{
  background-color: #FFBF00;
}

.content-cardapio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.maincontent-torta{
  width: 24rem;
  padding: 13px;
  padding-top: 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.content-name-torta{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.title-name-torta{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-titulo-torta);
}

.model{
  color: var(--cor-titulo-torta);
  font-size: 12px;
}
.genero{
  color: var(--cor-titulo-torta);
  font-size: 10px;
}

.content-image-val{
  display: flex;
  justify-content: space-between;
}

.img-torta{
    width: 195px;
    /* width: min(580px, 12vw); */
    height: auto; 
} 

.kilomoney.torta-n3{
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.peso-torta{
padding-top: 19px;
padding-bottom: 10px;

}

.kilo-pessoas-torta{}

.kilo-torta{
  color: var(--cor-titulo-torta);
  font-size: 18px;
  font-weight: 770;
}

.pessoas-torta{
  color: var(--cor-titulo-torta);
  font-size: 15px;
  font-weight: 500;
}

.content-money-torta{}


.val-pessoas-torta{}


.val-liquida-torta{
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  text-decoration:line-through
}

.val-money-torta{
  color: #1A1A1A;
  font-size: 17px;
  font-weight: 600;
}


.description-torta{
  padding-top: 10px;
  font-size: 11px; 
  font-weight: 150px;
  color: var(--Marrom);
}

.description-text{}


.button-torta{
  padding: 24px 0px 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#btn_pedido{}


#btn_pedido:hover{
  background-color: #692c15;
  /* box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.1); */
}

.btn-pedido{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBF00;
  border-radius: 18px;
  padding: 14px 20px;
  /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  color: #ffff;
  /* color: #1d1d1d; */
  width: 178px;
  font-size: 1.1rem;
  /* font-weight: 600; */
  transition: .5s ease; 
}